*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li, menu, a {
    list-style: none;
    text-decoration: none;
}

:root {
    --grayL: #EAEAEA;
    --bgcircle: #F2F2F2;
    --blu: #8EDAFC;
    --selectGray: #E9EBEB;
    --grayIcon: #B1B1B1;
  }
body{
    /* display: flex;
    justify-content: center;
    align-items: center;   */
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1500px;
    margin: 0 auto;
    height: calc(100vh - 50px);
    margin-top: 25px;
    border: 1px solid #e7e7e7;
}

img{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    flex-basis: calc(100% / 3);
    
}
.col-2{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 50px);
}

.principal-user{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: var(--grayL);
}

h3{
    font-weight: 500;
}

.principal-user-icon,
.principal-user-user{
    display: flex;
    align-items: center;
}

.principal-user-icon .fa-solid{
    padding:  7px;
    font-size: 18px;
    color: var(--grayIcon);
}

.background-circle{
    background-color: var(--bgcircle);
    width: 55px;
    height: 55px;
    border-radius: 50%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
}

.notifiche-box{
    background-color: var(--blu);
}

.notifiche-box .fa-solid{
    color: var(--blu);
    font-size: 18px;
}

.notifiche-icon{
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.notifiche{
    margin-left: 5px;
}

.notifiche p{
    font-size: 14px;
    font-weight: 500;
}

.notifiche a{
    font-size: 12px;
    text-decoration: underline;
}

.search-bar{
    padding: 5px;
    display: flex;
}

.search-bar button{
    border: 1px solid #e7e7e7;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    color: #B6B9BB;
}
.search{
    width: 100%;
    border: 1px solid #e7e7e7;
}

.contacts-box li{
    padding: 10px 20px;
    display: flex;
    position: relative;
    border-bottom: 1px solid #e7e7e7;
}

.contacts-box li span{
    position: absolute;
    top: 10px;
    right: 5px;
    
}

.user-chat-info{
    margin-left: 20px;
}

.user-chat-info p{
    color: #B6C4D4;
    font-size: 14px;
}

.user-chat-info span{
    color: #b0bdcc;
    font-size: 12px;
}


/* ********************************************* */

.header-chat{
    display: flex;
    align-items: center;
    background-color: var(--grayL);
    padding: 10px 15px;
    justify-content: space-between;
}

.info-chat{
    margin-left: 5px;
    display: flex;
}
.info-chat p{
    color: #939eab;
}

.footer-chat{
    display: flex;
    padding: 5px 12px;
    align-items: center;
}

.footer-chat input{
   width: 100%;
   margin: 0 10px;
   border-radius: 3px;
   border: 1px solid #b0bdcc;
   line-height: 30px;
}

.box-chat{
    background-image: url(../img/istockphoto-1183632265-612x612.jpg);
    flex-grow: 1;
    opacity: 0.6;
}

.container-messages{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
}

.message-sent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    position: relative;
}

.message-sent p,
.message-received p{
    background-color: #c3f59d;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    margin-bottom: 5px;
}
.message-received p{
    background-color: white;
}
.message-sent span,
.message-received span{
    position: absolute;
    right: 3px;
    bottom: 2px;
    font-size: 12px;
}

.message-received,
.message-sent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 0 auto;
    position: relative;
}


